@import './components/Header/Header.module.scss';
@import './components/Footer/Footer.module.scss';
@import './components/Home/Home.module.scss';
@import './components/LoginRegister/LoginRegister.module.scss';

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/movie-posters.jpg');
  background-size: cover;
  height: 100vh;
}

.app {
  height: 100vh;
  overflow: auto;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  height: 100%;
}
