<section id='loginPage'>
  <form id='loginForm' method='POST'>
    <label for='email'>Email:</label>
    <input type='text' id='email' name='email' value='{{body.email}}' placeholder='Email' />

    <label for='password'>Password:</label>
    <input type='password' id='password' name='password' value='{{body.password}}' placeholder='Password' />

    <input type='submit' class='register' value='Login' />
  </form>
</section>