footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 30px;
  text-align: center;
  color: bisque;
  background-color: #353643;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;

  span {
    padding: 0 15px;

    a {
      all: unset;
      cursor: pointer;
      color: #FF8F62;
    }
  }
}
