footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
  text-align: center;
  color: bisque;
  background-color: #434a52;
}

.footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
