footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 30px;
  text-align: center;
  color: bisque;
  background-color: #353643;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    a {
      all: unset;
      cursor: pointer;
      color: bisque;
      font-size: 16px;
      text-decoration: underline;
    }
  }
}
