<main id="catalog">
  <section class="game-market">
    <h1>Game Trade Code</h1>
    <div class="offer-list">
      {{#if games}}
      {{#each games}}
      {{> games}}
      {{/each}}
      {{else}}
      <div class="no-offer">
        <p>There are no game offers found!</p>
      </div>
      {{/if}}

    </div>
    <!-- <div class="no-offer">
                <p>There are no game offers found!</p>
            </div> -->
  </section>
</main>