<section id='homePage' class='background-img'>
  <div class='introduction'>
    <h1>The Trusted Wholesale Marketplace for Used Electronics</h1>
    <p>Each year, 50 million tons of IT gear reaches end-of-life. Tradeloop is where companies safely buy, repair, recycle, and
      resell it. How it works?</p>
  </div>
</section>