* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Inter';
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90rem;
  background: url(image/background.jpg);
  background-position: center;
  object-fit: cover;
  background-size: 100%;
  gap: 6rem;
  padding: 0 15rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 69rem;
  padding: 4rem;
  background-color: white;
}

.card h1 {
  font-size: 3.2rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.special {
  font-size: 8.5rem;
  font-weight: 700;
}

.price {
  display: inline-block;
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.aftertext {
  display: block;
  font-size: 1.5rem;
  color: rgb(99, 110, 110);
  margin-bottom: 3rem;
}

.card p {
  font-size: 2rem;
  line-height: 1.8;
  font-weight: 500;
}

.card a:link,
.card a:visited {
  display: block;
  text-decoration: none;
  font-size: 2.4rem;
  color: white;
  background-color: black;
  padding: 2rem 4.5rem;
  border-radius: 0.5rem;
  align-self: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(4rem, -4rem);
}

.scale {
  transform: scale(1.1);
}
